.animal_bg {
    -fx-background-image: url('images/Homepage1 Background photo.png');
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#txtfields {
    -fx-text-fill: greenyellow;
}

#mapbg {
    -fx-opacity: 0.8;
}