.animal_bg{
    -fx-background-image:url(images/Homepage1 Backgroun photo.png);
    -fx-background-size: contain;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
#txtfileds{
    -fx-text-fill:greenyellow;  
}

#mapbg{
    -fx-opacity: 80 ; 
}